*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    list-style: none;
}

/* ------------- NAVBAR SECTION----------------- */
#nav-menu{
    background-color: #05386b;
    display: flex;
    height:80px;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
}
#nav-name{
    /* border:1px solid red; */
    font-size: 25px;
    font-weight: 500;
}
#nav-name>a{
    color:#6dc2b0;
}
#navbar-menu{
    /* border:1px solid red; */
    width:40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
}
#navbar-menu a{
    color: #6dc2b0;
    padding: 5px 10px;
    border-radius: 5px;
}
#resume-button-1{
    background-color: #6dc2b0;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #05386b;
}

/* -------------HOME SECTION----------------- */

#home{
    background-color: #6dc2b0;
    border-bottom:5px solid #4d6d9a;
}
.home-body{
    /* border:1px solid red; */
    width:87%;
    height:100vh;
    margin:auto;
    display: flex;
}
.home-left{
    /* border:1px solid black; */
    width:50%;
    color:#05386b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.home-right{
    /* border:1px solid black; */
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-right>img{
    width:1000px;
}

/* -------------ABOUT SECTION----------------- */
#about{
    background-color: #86b3d1;
    border-bottom:5px solid #4d6d9a;
    color: #05386b;
}
#about>h1{
    text-align: center;
    padding-top:150px;
    text-decoration: underline;
}
#resume-button-2{
    background-color: #05386b;
    width:15%;
    margin:10px auto;
    border:none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: #6dc2b0;
    display:flex;
    justify-content: center;
}
.about-body{
    /* border:1px solid black; */
    width:85%;
    margin:100px auto;
    display: flex;
}
.about-left{
    /* border:1px solid red; */
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div{
    /* border:1px solid blue; */
    width:50%;
}
.img-div>img{
    width:100%;
    border:4px solid #4d6d9a;
    border-radius: 10px;
}
.about-details{
    /* border:1px solid red; */
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .about-right>h2{
    text-decoration: underline;
} */

/* -------------SKILLS SECTION----------------- */
#skills{
    background-color: #6dc2b0;
    border-bottom:5px solid #4d6d9a;
    height:100vh;
    color: #05386b;
}
#skills>h1{
    text-align: center;
    padding-top:110px;
    text-decoration: underline;
}
.skills-body{
    /* border:1px solid black; */
    width:80%;
    padding:30px 0;
    margin:30px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px 30px; 
}
.skills-card{
    border:4px solid #4d6d9a;
    background-color: #86b3d1;
    padding:10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
}
.skills-card>h3{
    margin: 7px auto;
    text-decoration: underline;
}

/* -------------PROJECTS SECTION----------------- */

#projects{
    background-color:  #86b3d1;
    border-bottom:5px solid #4d6d9a;
    color: #05386b;
}
#projects>h1{
    text-align: center;
    padding-top:100px;
    text-decoration: underline;
}
.projects-body{
    /* border:1px solid black; */
    width:85%;
    margin:auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px 20px;
}
.project-card{
    border:5px solid #4d6d9a;
    border-radius: 15px;
    padding:20px;
    background-color: #05386b;
}
.project-img{
    width:100%;
    height:270px;
    background-color:#86b3d1;
    border-radius: 7px;
    /* border-bottom: none; */
}
.project-img>img{
    border:5px solid #86b3d1;
    border-radius: 7px;
    width:100%;
    height:100%;
}
.project-info{
    /* border:1px solid black; */
    background-color:#05386b;
    /* border:5px solid #86b3d1; */
    color: #6dc2b0;
    margin: 20px auto;
    text-align: center;
}
.project-tech-stack{
    /* border:1px solid red; */
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
}
.project-tech-stack>div{
    /* border:1px solid blue; */
    text-align: center;
}
.project-tech-stack>div>img{
    width:100%;
    height:57px;
}
.project-buttons{
    /* border:1px solid red; */
    width:50%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}
.project-github-link{
    font-size: 50px;
    color: black;
}
.project-deployed-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-deployed-link>button{
    background-color: black;
    border:none;
    color:white;
    padding:5px 15px;
    border-radius: 5px;
    font-size: 17px;
}
/* -------------CONTACT SECTION----------------- */

#contact{
    background-color:  #6dc2b0;
    border-bottom:5px solid #4d6d9a;
    height:100vh;
    color: #05386b;
}
#contact>h1{
    text-align: center;
    padding-top:150px;
    text-decoration: underline;
}
.contact-body{
    /* border:1px solid black; */
    width:80%;
    padding:40px 0;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;    
}
.contact-left,.contact-right{
    border:4px solid #4d6d9a;
    border-radius: 10px;
    background-color: #86b3d1;
    display: flex;
    width:35%;
    flex-direction: column;
    padding:20px 0;
}
.contact-left>div,.contact-right>div{
    /* border:1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
    margin:30px auto;
}
.contact-left>h2,.contact-right>h2{
    text-decoration: underline;
    text-align: center;
}
.contact-left>div>a,.contact-right>div>a{
    font-size: 20px;
    margin: 10px 0;
    text-decoration: none;
    color:#05386b;
}
.contact-left i,.contact-right i{
    font-size: 22px;
}
/* -------------GITHUB SECTION----------------- */
#github{
    background-color:  #86b3d1;
    border-bottom:5px solid #4d6d9a;
    height:100vh;
    color: #05386b;
}
#github>h1{
    text-align: center;
    padding-top:100px;
    text-decoration: underline;
}
#github-stats{
    /* border:1px solid black; */
    width:85%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
}
#github-stats>div{
    width:32%;
    /* border:1px solid red; */
}
#github-stats>div>img{
    width:100%;
    height:100%;
}
