*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    list-style: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: translateY(4px);
}

/* ------------- NAVBAR SECTION----------------- */
#nav-menu{
    background-color: #05386b;
    display: flex;
    height:70px;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
    z-index: 10;
}
#hamb{
    display: none;
}
#nav-name{
    /* border:1px solid red; */
    font-size: 25px;
    font-weight: 500;
}
#nav-name>a{
    color:#6dc2b0;
}
#navbar-menu{
    /* border:1px solid red; */
    width:40%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
}
#navbar-menu a{
    color: #6dc2b0;
    padding: 5px 10px;
    border-radius: 5px;
}
#nav-menu li{
    transition: transform .2s;
}
#nav-menu li:hover{
    transform: scale(1.1);
    text-decoration: underline;
}
#resume-button-1{
    background-color: #6dc2b0;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #05386b;
    transition: transform .2s;
}
#resume-button-1:hover{
    transform: scale(1.1);
}
/* -------------HOME SECTION----------------- */

#home{
    background-color: #6dc2b0;
    padding: 200px 0;
}
.home-body{
    /* border:1px solid red; */
    width:87%;
    margin:auto;
    /* padding: 200px 0; */
    display: flex;
}
.home-left{
    /* border:1px solid black; */
    width:50%;
    color:#05386b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.home-right{
    /* border:1px solid black; */
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-right>img{
    width:100%;
}

/* -------------ABOUT SECTION----------------- */
#about{
    background-color: #D4F1F4;
    color: #05386b;
    padding: 95px 0;
}
#about>h1{
    text-align: center;
    text-decoration: underline;
}
.about-body{
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    width:80%;
    margin:50px auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    transition: transform .2s;
}
.about-body:hover{
    transform: scale(1.02);
}
.about-left{
    /* border:1px solid red; */
    width:30%;
    display: flex;
    align-items: center;
}
.img-div{
    /* border:1px solid blue; */
    width:100%;
}
.img-div>img{
    width:100%;
    border:4px solid #4d6d9a;
    border-radius: 10px;
}
.about-details{
    /* border:1px solid red; */
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#resume-link-2{
    /* border:1px solid red; */
    width:20%;
    margin:20px 0;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #05386b;
}
#resume-button-2{
    background-color: #05386b;
    border:none;
    font-size: 20px;
    font-weight: 500;
    color: #D4F1F4;
}

/* -------------SKILLS SECTION----------------- */
#skills{
    background-color: #6dc2b0;
    padding: 95px 0;
    color: #05386b;
}
#skills>h1{
    text-align: center;
    text-decoration: underline;
}
.skills-body{
    /* border:1px solid black; */
    width:80%;
    padding:30px 0;
    margin:30px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px 30px; 
}
.skills-card{
    /* border:4px solid #4d6d9a; */
    background-color: #D4F1F4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
    transition: transform .2s;
}
.skills-card:hover{
    transform: scale(1.1);
}
.skills-card>h3{
    margin: 7px auto;
    text-decoration: underline;
}

/* -------------PROJECTS SECTION----------------- */

#projects{
    background-color:  #D4F1F4;
    color: #05386b;
    padding: 95px 0;
}
#projects>h1{
    text-align: center;
    text-decoration: underline;
}
.projects-body{
    /* border:1px solid black; */
    width:80%;
    margin:auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px 20px;
}
.project-card{
    /* border:5px solid #6dc2b0; */
    border-radius: 15px;
    padding:25px;
    background-color: #05386b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-img{
    /* border:1px solid red; */
    width:49%;
    height:270px;
    background-color:#6dc2b0;
    border-radius: 7px;
    transition: transform .2s;
}
.project-img:hover{
    transform: scale(1.02);
}
.project-img>img{
    border:5px solid #D4F1F4;
    border-radius: 7px;
    width:100%;
    height:100%;
}
.project-info{
    width:49%;
    border:3px solid #D4F1F4;
    border-radius: 10px;
    background-color: #D4F1F4;
    padding:5px;
    color: #05386b;
    text-align: center;
}
.project-info>h3{
    text-decoration: underline;
}
.project-info>p{
    margin-top: 10px;
}
.project-tech-stack{
    /* border:1px solid red; */
    width:95%;
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
}
.project-tech-stack>div>img{
    width:100%;
    height:55px;
}
.project-buttons{
    /* border:1px solid red; */
    width:50%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    transition: transform .2s;
}
.project-buttons:hover{
    transform: scale(1.1);
}
.project-github-link{
    font-size: 45px;
    color: black;
}
.project-deployed-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-deployed-link>button{
    background-color: black;
    border:none;
    color:white;
    padding:5px 15px;
    border-radius: 5px;
    font-size: 17px;
}
/* -------------CONTACT SECTION----------------- */

#contact{
    background-color:  #6dc2b0;
    padding: 95px 0;
    color: #05386b;
}
#contact>h1{
    text-align: center;
    text-decoration: underline;
}
.contact-body{
    /* border:1px solid black; */
    width:70%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;   
}
.contact-text{
    background-color: #a9c6cc;
    /* border:1px solid black; */
    width:45%;
    border-radius: 10px;
    padding: 30px;
}
.contact-text>div{
    display: flex;
    /* border:1px solid black; */
    height: 80%;
    flex-direction: column;
    margin-top: 10px;
    font-size: 19px;
}
.contact-text>div>*{
    margin: 10px 0;
    color: #05386b;
    transition: transform .2s;
}
.contact-text>div>*:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#contact-img{
    /* border:1px solid black; */
    width:45%;
}
#contact-img>img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
/* -------------GITHUB SECTION----------------- */
#github{
    background-color:  #D4F1F4;
    padding:95px 0;
    /* color: #05386b; */
}
#github>h1{
    text-align: center;
    text-decoration: underline;
}
#github-stats{
    /* border:1px solid black; */
    width:85%;
    margin:70px auto;
    display: flex;
    justify-content: space-between;
}
#github-stats>div{
    width:32%;
    /* border:1px solid red; */
}
#github-stats>div>img{
    width:100%;
    height:100%;
}
.react-activity-calendar{
    /* border:1px solid red; */
    margin:20px auto;
    width:85%;
    /* background-color:black; */
}
.calendar{
    /* border:1px solid red; */
    width:100%;
    margin: auto;
    background-color:#05386b;
    padding:20px;
    color: white;
}

/* -----------------------FOOTER---------------- */
#signature{
    width:100%;
    padding:10px 0;
    text-align: center;
    background-color: #05386b;
    color: #D4F1F4;
    font-weight: 700;
}
